<a href="https://colab.research.google.com/github/gagan2806/python_1/blob/main/Assignment_gagan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
                                        #assignment 1
list1=[1,2,3,4,5]
list2=[1,2,3]
list3=list1<list2
print(list3)
list4=list1>list2
print(list4)
list5=list1==list2
print(list5)
list6=list1<=list2
print(list6)
list7=list1>=list2
print(list7)
list8=list1 is not list2
print(list8)
list9=list1+list2
print(list9)

False
True
False
False
True
True
[1, 2, 3, 4, 5, 1, 2, 3]

In [ ]:
                                                #assignment 1
tuple1=(10,20,30,40,50)
tuple2=(10,20,30,40,50)
tuple3=tuple1<tuple2
print(tuple3)
tuple4=tuple1>tuple2
print(tuple4)
tuple5=tuple1<=tuple2
print(tuple5)
tuple6=tuple1+tuple2
print(tuple6)
tuple7=tuple1==tuple2
print(tuple7)
tuple8=tuple1 is not tuple2
print(tuple8)

False
False
True
(10, 20, 30, 40, 50, 10, 20, 30, 40, 50)
True
True

In [ ]:
                                          #assignment 1
set1={'hello','this','is'}
set2={'an','assignment','is'}
set3=set1|set2
print(set3)
set4=set1&set2
print(set4)
set5=set1^set2
print(set5)
set6=set1<set2
print(set6)
set7=set1<=set2
print(set7)

{'assignment', 'this', 'hello', 'an', 'is'}
{'is'}
{'assignment', 'this', 'hello', 'an'}
False
False

In [ ]:
                                                             #assignment 1
dic1={"key1":"100","key2":"200","key3":"300"}
dic2={"key1":"100","key2":"200","key3":"300","key4":"400"}
x1=dic1.keys() & dic2.keys()
print(x1)
x2=dic1.keys() - dic2.keys()
print(x2)
x2=dic2.keys() - dic1.keys()
print(x2)
x3=dic1.keys() | dic2.keys()
print(x3)
x4=dic1.items() & dic2.items()
print(x4)
x4=dic1.items() - dic2.items()
print(x4)
x4=dic2.items() - dic1.items()
print(x4)
x4=dic1.items() | dic2.items()
print(x4)
print(set(dic1)>=set(dic2))
print(set(dic2)>=set(dic1))

{'key2', 'key3', 'key1'}
set()
{'key4'}
{'key4', 'key2', 'key3', 'key1'}
{('key2', '200'), ('key1', '100'), ('key3', '300')}
set()
{('key4', '400')}
{('key2', '200'), ('key4', '400'), ('key1', '100'), ('key3', '300')}
False
True

In [ ]:
                                              #assignment 2
x=int(input("enter the fist operand"))
y=int(input("enter the second operand"))
operand=input("enter the operator")
if operand == "+":
 op=x+y
elif operand == '-':
 op=x-y
elif operand == '*':
 op=x*y
elif operand == '/':
 op=x/y
print("answer is",op)

enter the fist operand 12
enter the second operand 4
enter the operator *
answer is 48

In [ ]:
                                        # assignment 3
                                  #r+ helps to read a file and then write 
f=open("print.txt","r+")
data=f.read()
f.write(" written by me")
print(data)

This is a file

In [ ]:
                                    #assignment 3
                                #a+ helps to write some text and then read a file by overwriting that file
f=open("print.txt","w+")
print(f.tell())
f.write("hello")
print(f.tell())
f.seek(0)
data=f.read()
print(f.tell())
print(data)

0
5
5
hello

In [ ]:
                                       #assignment 3             
                      #a+ helps to append some text and then read a file   without overwriting that file
f=open("file.txt","a+")
f.write("\n great")
data=f.read()
print(data)
                    # prints/appends 'great' into the file

In [ ]:
                                   # assignment 4
def data(store,customer,*a,**b):
  print(store)
  print(customer)
  print("books purchased:\n")
  for num in a:
   print(num)
  print("\nFees to be paid for each book:\n")
  for fee in b:
   print(fee,b[fee])
data("    **Ganesh stores**   ","Rahul","programming using python","advanced python developement",
     programming_using_python=200,advanced_python_developement=100)

    **Ganesh stores**
Rahul
books purchased:

programming using python
advanced python developement

Fees to be paid for each book:

programming_using_python 200
advanced_python_developement 100

In [13]:
                                         #assignment 5
n=int(input("enter the number"))
for i in range(1,11):
   print(n,"*",i,"=",n*i)

enter the number 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [10]:
                                       #assignment 6
def gen():
  print("the first number is")
  yield 12
  print("the second number is")
  yield 15
g=gen()
next(g)

the first number is

12

In [11]:
next(g)

the second number is

15